//Colours
$off-black: #20222b;
$off-white: #e8e8e8;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;
$white: #ffffff;
$red: #ff0000;

$primary: #3f51b5;
$aqua: #4BA3C3;

$about-bg: #2c3046;

//Spacing
$xs-size: 1.2rem;
$s-size: 1.4rem;
$m-size: 1.8rem;
$mm-size: 2.2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$m-l-size: 2.6rem;
$m-xl-size: 3.8rem;

$thin-font: 400;
$medium-font: 600;
$bold-font: 700;

//Fonts
$title-font: 'Montserrat', sans-serif;
$body-font: 'Nunito', sans-serif;